/* import font from google fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

:root{
  --primary-color: #AA25ED;
  --border: #e1e1e1;
  --text-color: #333;
  --light-gray: #5A5A5A;
  --poppins: "Poppins", sans-serif;
}

body{
  background: #FBF3FF;
}

.primary-color{
  color: var(--primary-color);
}

.bg-primary-color{
  background-color: var(--primary-color)!important;
}

.text-color{
  color: var(--text-color);
}

.heading-color{
  color: var(--light-gray);
  font-weight: bold;
  font-size: 24px;
}

.primary-button{
  background-color: var(--primary-color);
  color: white;
  font-size: 14px;
  padding: 12 20px;
  border-radius: 5px;
}

.primary-button:hover{
  color: var(--primary-color);
  background: none;
  border: 1px solid var(--primary-color);
  box-shadow: 0px 5px 20px rgba(170, 37, 237, 0.25);
}

body{
  font-family: var(--poppins);
  position: relative;
}

/*header*/

.navbar-nav{
  font-size: 14px;
}

.navbar-light .navbar-nav .active>.nav-link{
  color: var(--primary-color);
}

.navbar-light .navbar-nav .nav-link:hover{
  color: var(--primary-color);
}

/* Caurosel */

#carouselExampleCaptions > div > div.carousel-item.active{
  top: 66px;
}

.carousel-caption{
  bottom: 200px;
}

.carousel-caption h5{
  font-size: 48px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
}

.carousel-caption p{
  font-size: 18px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.carousel-control-next-icon, 
.carousel-control-prev-icon{
  color: white;
}

/*Products Section*/
  .alignment{
    margin-top: 120px;
  }
  .product-sub-heading{
    font-size: 14px;
  }
  .card{
    border: none;
    height: 268px;
  }
  .card-img-top{
    height: 100%;
    min-height: 268px;;
    position: relative;
  }

  .card-body{
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 56px;
    padding: 15 auto;
    color: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .card-text{
    font-weight: 600;
  font-size: 14px;
  }

  .product-button-div{
    margin-top: 60px;
  }

  /* About */

  .about-img{
    width: 567px;
    height: 298px;
  }

  .about-h3{
    margin-bottom: 24px;
  }

  .about-p{
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
  }

  .about-main{
    margin-top: 90px;
  }

  .what>li{
    margin-bottom: 20px;
    margin-left: -20px;
  }

  .sub_heading{
    margin: 30px 0;
  }
  

  /*Services*/

  .mt{
    margin-top: 80px;
  }

  .service-point{
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    transition: 0.7s;
  }

  /* about */

  /*gallery*/
  .gallery-section{
    transition: 0.8s ease-in;
  }
  .border{
    width: 180px;
    height: 4px;
    background: var(--primary-color);
    margin: 30px auto;
  }

  .image{
    transition: 0.4s;
  }

  .img-fluid{
    width: 100%;
  }

  .image:hover img{
    transform: scale(1.1) rotate(5deg);
  }
  /*gallery*/

  
  /* Footer */

  footer{
    background: black;
    color: white;
    width: 100%;
    padding: 50px;
    height: 200px;
  }

  .footer_text{
    font-size: 14px;
    text-align: center;
    margin-top: 50px;
    padding-left: 100px;
  }
  .icons{
    margin-top: 20px;
    margin-left: 120px;
  }

  .icons>a .fab{
    padding-right: 30px;
    color: white;
    transition: 0.7s;
  }

  .icons>a .fab:hover{
    color: var(--primary-color);
  }

  @media screen and (max-width: 600px){
    .footer_text{
      margin-top: 20px;
      padding-left: 0;
    }

    .icons{
      margin-top: 20px;
      margin-left: 0px;
    }

    .card{
      margin-bottom: 20px;
    }

    .about-main.sub_heading{
      margin-top: 100px;
    }
  } 
